.navbar {
  min-width: 20rem;
  min-height: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  /* background-color: chartreuse; */
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.nav-left {
  display: flex;
  flex-direction: column;
  min-width: 20px;
  min-height: 1rem;
  margin: 1rem;
  padding: 10px;
  /* background-color: #fff; */
}

.nav-left img {
  width: 60%;
  border-radius: 10px;
}

.nav-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 20px;
  min-height: 1rem;
  margin: 1rem;
  padding: 10px;
  /* background-color: #fff; */
}

.nav-right input {
  text-align: center;
  min-width: 12rem;
  min-height: 2rem;
  border-radius: 10px;
  align-items: center;
  margin: 0.3rem;
}

.nav-right button {
  text-align: center;   
  min-width: 5rem;
  min-height: 2rem;
  border-radius: 10px;
  align-items: center;
  background-color: rgb(22, 232, 22);
}
